body{
    margin:0;
    padding: 0;
    background:linear-gradient(to top,black,rgb(164, 136, 232));

}
.calci{
    width: 600px;
    padding-top:120px;
    padding-bottom: 120px;
    position:absolute;
    top: 50%;
    left:75%;
    transform:translate(-50%,-50%);
    transition:0.25px;
    
    text-align:left;
}
#display{
    border:none;
    background:white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 245;
    font-size: 30;
    font-family:'Times New Roman', Times, serif;
    font-weight:300 ;
    height: 60;
    margin: auto;
    border: 2px solid white;
    color:black;

}
.btnDesign{
    width: 55;
    height: 55;
    padding-top: -1;
    border:none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20;
    font-weight: 300;
    border-radius: 30px;
    margin: 1.5px;
}
.operatorDesign{
    width: 55;
    height: 55;
    background: white;
    padding-top: -1;
    border:none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20;
    font-weight: 300;
    border-radius: 30px;
    margin: 1.5px;
    transition: 0.25px;
    cursor: pointer;


}
.operatorDesign :hover{
    background: #0c4d58;
}
#zero{
    width: 115;
    height: 55;
    padding-top: -1;
    border:none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20;
    font-weight: 300;
    border-radius: 30px;
    margin: 1.5px;
    background:rgb(237, 237, 105);


}
h1{
    color: ghostwhite;
    font-family:cursive;
    margin-top: 20px;
    margin-left: 200px;
    text-size-adjust: 1000;
    font-weight: 700;
    font-size: 60;
   
   
}


